<div class="viewprofile">
    <img src="{{ppic}}" id="viewpic">
    <div class="profiledetails">
        <p>{{v_user}}</p>
        <p>Reviews: <span class="bold">{{numReviews}}</span></p>
    </div>

    <div class="profilemedia">
        <p id="vpTheReviews">TheReviews</p>
        <p id="vpAbout">About</p>
    </div>
</div>
<div class="profilecontent" style="height: {{dynamicHeight}}px"">
{{#if blogs.length}}
    {{#each blogs}}
        <div class="vpblog">
            <section>
                <img src="{{../ppic}}" class="blogpfp">
                {{log ../v_user}}
                {{log ../fullname}}
                <p>{{../fullname}}<span class="greyusername"> @{{../v_user}}</span></p>
            </section>
            <h3 class="title">{{this.title}}</h3>
            <p class="snippet">{{this.content}}</p>
        </div>
    {{/each}}
{{else}}
    <p>There are no blogs to display</p>
{{/if}}
</div>
</div>
